<a href="https://colab.research.google.com/github/Aashwin-Kumar/-python-built-in-functions/blob/main/About_Python_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**In This we are learning about Python List**

## 1) We can use * to combine lists

In [ ]:
a = [1,2]
b = [6,7]

c = [*a, *b]
print(c)

[1, 2, 6, 7]

In [ ]:
d = [*a, b]
print(d)

[1, 2, [6, 7]]

In [ ]:
e = [a, b]
print(e)

[[1, 2], [6, 7]]

## 2) We can use * to unpack *lists*

In [ ]:
food = ['meat', 'chicken', 'banana', 'roti','dal']

x,y,*veg_food = food



print(x)
print(y)
print(veg_food)

meat
chicken
['banana', 'roti', 'dal']

## 3) Using * unpack a list as function arguments

In [ ]:
def func(a,b,c):
  print(a,b,c)

func(1,2,3)

1 2 3

In [ ]:
def func(a,b,c,d):
  print(a,b,c,d)
ls = [1,2,3,5]

func(*ls)

1 2 3 5

In [ ]:
def func(a):
  print(a)
ls = [1,2,3,5,8,99]

func(ls)

[1, 2, 3, 5, 8, 99]

## 4) zip() to iterate through 2 lists concurrently

In [ ]:
men = ['Ajay', 'Ashwin', 'Raj']
women = ['sita', 'gita', 'radha']

for i, j in zip(men,women):
  print(i,j)

Ajay sita
Ashwin gita
Raj radha

## 5) enumerate() to generate both index and value during iteration

In [ ]:
topscore = [99,22,11,10]

for rank, score in enumerate(topscore):
  print(rank, score)

0 99
1 22
2 11
3 10

## 6) .sort() vs sorted()

Both function sort the element but there is diffrance in them, lets understand that.

In [ ]:
l1 = [23,1,32,4,2,6,5]
sorting = l1.sort()
print('This is variable assign: ',sorting)
print('Original list: ',l1)

#original list itself becomes sorted.

This is variable assign:  None
Original list:  [1, 2, 4, 5, 6, 23, 32]

In [ ]:
l2 = [23,1,32,4,2,6,5]
sorting2 = sorted(l2)

print('this is assign variable: ', sorting2)
print('this is original list: ', l2)

this is assign variable:  [1, 2, 4, 5, 6, 23, 32]
this is original list:  [23, 1, 32, 4, 2, 6, 5]

## 7) .sort() with custom condition

In [ ]:
ls = [1, 32, 3, 31, 4, 5]

def condition(x):
  return x % 10
ls.sort(key=condition)

print(ls)

[1, 31, 32, 3, 4, 5]

In [ ]:
ls.sort(key = lambda x : x % 10)
print(ls)

[1, 31, 32, 3, 4, 5]

In [ ]:
#out of syllabus
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x ** 2, numbers))
print(squared)

[1, 4, 9, 16]

**map objects are lazy, meaning they compute values on demand, making them memory efficient.**

**map() returns a map object (an iterator).**

In [ ]:
#out of syllabus
sq = map(lambda x : x * 2, numbers)
print(sq)

for i in sq:
  print(i)

<map object at 0x7a92fb0ce020>

**If you only need to iterate over the results once, you don’t even need to convert it into a list or tuple—just use it as an iterator directly.**

## 8) List comprehension

The general syntax for list comprehension is:

***new_list = [expression for item in iterable if condition]***

In [ ]:
#Normal way(Uppercasse each list items)

names = ['ash', 'bash', 'mark']

new = []

for nm in names:
  new.append(nm.upper())

print(new)

['ASH', 'BASH', 'MARK']

In [ ]:
#List comprehension

new1 = [i.upper() for i in names]
print(new1)

['ASH', 'BASH', 'MARK']

## 9) Tuples vs Lists

## Tuples are essentially immutable lists. Which means that we cannot mutate our tuple (add/remove stuff) after we create our tuple.
## We define a tuple using normal brackets instead of square brackets:

1.  ✅ Tuples are immutables so we cant add or remove new element into tuple.
2.  ❌ tuples are immutable, which means they are hashable which means they can be used as dictionary keys (lists can’t)

In [10]:
lists = [1,2,3,4,5,'ash']
tuples = (1,2,3,4,5, 'win')

lists.append(2)
tuples.append(2)

print(lists)
print(tuples)

#Intentionally made a mistake here for demo

AttributeError: 'tuple' object has no attribute 'append'

## 10) The .insert(index, element) method

In [13]:
lss = ['b','c','d','f']

lss.insert(0,'A')

print(lss)

['A', 'b', 'c', 'd', 'f']

## 11) The .extend(other_list) method

We can use the .extend() method to add all elements in one list to the back of another.

In [15]:
a = [1,2,3,4,5]
b = [6,7,8,9]

a.extend(b)

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Technically, we can do a = a + b , but this method creates an entirely new list, then assigns it to a. Which makes this method less memory efficient.

In [17]:
names0 = ['Ashwin']
names1 = ['Kumar']

names0.extend(names1)

print(names0)

['Ashwin', 'Kumar']

## 12) list[start:end] = [1, 2, 3]
we can replace elements in lists using list[index] = new_element.

In [21]:
list22 = ['ash',1,2,3,'win']

list22[1:4] = ['And']

print(list22)

['ash', 'And', 'win']